<div class="blank-layout-container justify-content-center">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/images/backgrounds/website-under-construction.gif" alt="error-bg"
        style="width: 90%; height: auto;" />
      <h2 class="auth-title f-w-600">Site Under Development!</h2>
      <h6 class="f-s-20 f-w-600 m-b-30">
        We are working on our site. Check back soon!
      </h6>
      <a mat-flat-button color="primary" [routerLink]="['']">Go back to Home</a>
    </div>
  </div>
</div>