<div class="select-container">
    <ng-select [items]="workFlows" 
              bindLabel="workflowName" 
              bindValue="workflowId" 
              [(ngModel)]="selectedWorkFlowId"
              >
    </ng-select>

    <ng-select [items]="months" bindLabel="text" bindValue="value" [(ngModel)]="selectedMonth">
        <ng-template ng-option-tmp let-item="item">
          {{ item.text }} 
        </ng-template>
    </ng-select>
    
    <ng-select [items]="years" bindLabel="text" bindValue="value" [(ngModel)]="selectedYear">
        <ng-template ng-option-tmp let-item="item">
          {{ item.text }} 
        </ng-template>
    </ng-select>
    
    <button class="search-btn mat-icon-button" (click)="updateColumnChart()">
        <mat-icon class="mt-5">search</mat-icon>
    </button>
</div>

<div class="chart-container">
  @if(this.statisticsForColumnChart){
    <chart-column [title]="titleChartColumn" [columnChartOptions]="this.statisticsForColumnChart"></chart-column>
    <chart-line [title]="titleChartColumn" [lineChartOptions]="this.statisticsForLineChart"></chart-line>
  }
</div>
