<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card p-4 shadow-sm position-relative">
    <button
      mat-icon-button
      class="close-button position-absolute"
      style="top: 0; right: 0"
      (click)="closeDialog()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <h4 class="mb-4">
      {{ textTitle }}
    </h4>

    <h3 class="mb-4">A continuación dibuje su firma</h3>

    <div class="canvas-container">
      <canvas class="rounded-2" #canvas></canvas>
    </div>

    @if(signatureNeeded){
    <p class="error-message">La firma es requerida</p>
    }

    <div class="buttons d-flex justify-content-center mt-4">
      <button mat-button color="warn" class="m-btn" (click)="clearPad()">
        Limpiar
      </button>
      <button
        mat-flat-button
        color="primary"
        class="m-btn"
        (click)="savePad()"
        [disabled]="signatureNeeded"
      >
        Firmar
      </button>
    </div>
  </div>
</div>
