.canvas-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

canvas {
  width: 100%;
  height: auto;
  min-height: 20dvh;
  border: 1px solid #ccc;
  display: block;
}

.m-btn {
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
}
