<div class="blank-layout-container justify-content-center">
    <div class="d-flex justify-content-center align-items-center w-100 h-100 bg-gredient">
      <div class="col-12 col-lg-4 col-xl-5 p-12 bg-white">
        <div class="row h-100 d-flex align-items-center justify-content-center">
            <div class="col-lg-9 max-width-form border rounded">
              <div class="text-center mb-4">
                <img
                  [src]="tenantSettings.settings.logo"
                  alt="home"
                  style="max-width: 200px"
                  loading="lazy"
                />
              </div>
              <p class="text-center my-5">
                Por favor ingresa tu dirección de email asociada a tu cuenta para recibir un correo con un link para configurar tu clave.
              </p>
              <form class="mt-3" [formGroup]="form" (ngSubmit)="submit()">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
                  Dirección de E-mail
                </mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="email" />
                  <mat-hint *ngIf="f['email'].touched && f['email'].invalid" class="mb-2 error-msg">
                    <div *ngIf="f['email'].errors?.['required']" class="text-error">
                      El e-mail es requerido
                    </div>
                    <div *ngIf="f['email'].errors?.['email']" class="text-error">
                      Debe ingresar un email válido.
                    </div>
                  </mat-hint>
                </mat-form-field>
                <button
                  mat-flat-button
                  [disabled]="!form.valid"
                  color="primary"
                  class="w-100"
                >
                  Recuperar
                </button>
                <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
              </form>
              <div class="text-center mt-4">
                <a
                  [routerLink]="['/auth/login']"
                  class="text-decoration-none text-primary fw-500 fs-14"
                >
                  Iniciar sesión
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  