.custom-width {
  margin-left: 1vw;
  width: 65%;
}

.container-buttons{
  margin-left : 1vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
.container-calendar{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}
.container-buttons-text{
 
}

.btn-margin{
  margin-left: 5px;
}
// d-flex justify-content-center align-items-center